.DS_Store
bin/
build/esp8266.xcodeproj/xcshareddata/
build/esp8266.xcodeproj/xcuserdata/
build/hello_world/
build/temp/
build/esp-clang/
build/xtensa-lx106-elf/
build/*.tar.gz
build/*.tar.xz
esp8266.xcworkspace/xcshareddata/
esp8266.xcworkspace/xcuserdata/